# Compiled binaries
distr-sched
distr-sched-openmp
distr-sched-simd
distr-sched-seq
distr-sched-debug1
distr-sched-debug2

# Object files
*.o
*.out

# Logs
logs/*.slurmlog
logs/benchmark/*.log
logs/visualization/*.log

# IDE and build artifacts
.vscode/
compile_commands.json

# Solution files (should not be committed)
runner_solution.cpp
